*{
    margin: 0;
}
.banner_image{
    height: 500px;
    width: 100%;
}
.orange{
    background-color: #fd5f00 !important;
    color: white !important;
}
.heroBtn:hover{
    background-color: #212529 !important;
    color: white !important;
    transition: 1s;
}
.line{
    background-color: black;
    height: 3px;
    width: 250px;
}
.homeBtn:hover{
    border: none !important;
    background-color: #fd5f00 !important;
    transition: 0.2s ease-out;
    box-shadow: 5px 5px 5px black !important;
}
.banner{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../public/images/pizza.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100.9%;
}

