.banner_image{
    height: 500px;
    width: 100%;
}
.orange{
    background-color: #fd5f00 !important;
    color: white !important;
}
.heroBtn:hover{
    background-color: #212529 !important;
    color: white !important;
    transition: 1s;
}
.line{
    background-color: black;
    height: 3px;
    width: 250px;
}